SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Install with `crontab -e` on the Docker host.
0 4 * * * /home/eterraverse/projects/hlds-docker/container/restart-hlds.sh >> /var/log/hlds_restart.log 2>&1
