# stats.cfg should ONLY contain basic database settings.
# any other configuration settings will be ignored.

# PsychoStats DB config for Docker Compose

dbtype = mysql
dbhost = psychostats_db
dbport =
dbname = psychostats
dbuser = psuser
dbpass = pspass
dbtblprefix = ps_
dbcompress =