# stats.cfg should ONLY contain basic database settings.
# any other configuration settings will be ignored.

dbtype = mysql
dbhost = psychostats_db
dbport = 3306
dbname = psychostats3_1
dbuser = ps3
dbpass = ps3pass
dbtblprefix = ps_
